<div class='card mt-4 mx-auto' style='width: 18rem;'>
  <img src='{{course.thumbnail}}' class='card-img-top' alt='...' />
  <div class='card-body'>
    <h5 class='card-title'>{{course.name}}</h5>
    <p class='card-text'>{{course.description}}</p>
    <a href='#' class='btn btn-primary'>Subscribe Course</a>
  </div>
</div>