<div class='row mt-3'>
  {{#each courses}}
    <div class='mt-4 col-sm-12 col-md-6 col-lg-4 col-xl-3'>
      <div class='card'>
        <a href='/courses/detail/{{this.id}}'>
          <img src={{this.thumbnail}} class='card-img-top' alt='...' />
        </a>
        <div class='card-body'>
          <h5
            class='card-title'
            style='white-space: nowrap; text-overflow: ellipsis; overflow: hidden'
          >{{this.name}}</h5>
          <a href='/courses/detail/{{this.id}}' class='btn btn-primary mt-2'>Course Detail</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>