<div class='row mt-3'>
  {{#each courses}}
    <div class='mt-4 col-sm-12 col-md-6 col-lg-4 col-xl-3'>
      <div class='card'>
        <a href='/courses/{{this.id}}'>
          <img src={{this.thumbnail}} class='card-img-top' alt='...' />
        </a>
        <div class='card-body'>
          <h5 class='card-title'>{{this.name}}</h5>
          <p class='card-text'>Some quick example text to build on the card title and make up the
            bulk of the card content.</p>
          <a href='#' class='btn btn-primary'>Course Detail</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>