<div class="mt-3">
  <form method="POST">
    <div class="mb-3">
      <label for="search" class="form-label">Search</label>
      <input
        type="text"
        name="search"
        class="form-control"
        id="search"
        placeholder="Search..."
      />
      <input class="mt-3 btn btn-primary" type="submit" />
    </div>
  </form>
</div>